.button-output {
  align-self: flex-end;
  justify-self: center;
  background-color: var(--color-bg);
  cursor: pointer;
  font-size: var(--text-md);
  padding: var(--space-xs) var(--space-md);
  text-transform: capitalize;
}
