@use "../utils/mixins.scss" as m;
@import "../layout/index.scss";
@import "../components/button.scss";
@import "../components/editor.scss";

.build {
  &__container {
    height: 700px;
    padding: 0 var(--space-md);

    @media only screen and (min-width: "900px") {
      display: grid;
      grid-template-columns: 1fr 2fr;
      height: 350px;
    }
  }

  &__editor,
  &__output {
    height: 100%;
  }

  &__output {
    align-items: center;
    border-radius: var(--border-radius-half);
    display: grid;
  }

  &__output-btns {
    display: flex;
    justify-content: center;

    & > button {
      margin: 0 var(--space-xs);
    }
  }

  &__output-save {
    align-self: flex-end;
    justify-self: center;
    width: 10rem;
    @include m.link-common;
    @include m.link-primary;

    &:hover {
      @include m.link-primary-hover;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: var(--color-hover-primary);
      opacity: 0.3;
    }
  }

  &__editor {
    padding: var(--space-sm);
  }
}
