@use "../utils/mixins.scss" as m;
@import "../layout/index.scss";
@import "../components/button.scss";
@import "../components/editor.scss";

.build {
  &__container {
    display: grid;
    row-gap: var(--space-xl);
    padding: 0 var(--space-md);

    @media only screen and (min-width: "900px") {
      grid-template-columns: 1fr 2fr;
      row-gap: 0;
      height: 50vh;
    }
  }

  &__editor,
  &__output {
    height: 100%;
  }

  &__output {
    align-items: center;
    border-radius: var(--border-radius-half);
    display: grid;
    order: 2;
    margin-bottom: var(--space-xl);

    @media only screen and (min-width: "900px") {
      order: 1;
    }
  }

  &__output-btns {
    display: flex;
    justify-content: center;
    margin-top: var(--space-2xl);

    @media only screen and (min-width: "900px") {
      margin-top: 0;
    }

    & > button {
      margin: 0 var(--space-xs);
    }
  }

  &__output-save {
    align-self: flex-end;
    justify-self: center;
    width: 9rem;
    @include m.link-common;
    @include m.link-primary;

    &:hover {
      @include m.link-primary-hover;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: var(--color-hover-primary);
      opacity: 0.3;
    }
  }

  &__editor {
    order: 1;
    padding: var(--space-sm) var(--space-xl);

    @media only screen and (min-width: "900px") {
      border-left: var(--border-thick-primary);
      order: 2;
    }
  }
}
